!!!
%html
  %head
    %title
    = stylesheet_link_tag "application", media: "all"
    = csrf_meta_tags
  %body{class: @body_class || "#{controller_name} #{action_name}"}
    = yield

    = javascript_include_tag "application"

