!!!
%html
  %head
    %title
    = stylesheet_link_tag "application", media: "all"
    = csrf_meta_tags

  %body{class: "#{page_name}"}
    = yield

    %script
      var App = App || {};
      App.settings = {
      page: "#{page_name}"
      };

    = javascript_include_tag "application"
